<h1>InputTimes#list</h1>
<p>Find me in app/views/input_times/new.html.erb</p>
<%= @event %>
<%= stdate = @event.stdate.to_date %>, <%= enddate = @event.enddate.to_date %>

<% width = 10 %>
<% loop_times = 48 %>

<%= form_with model:@form,url:time_schedules_path,method: :post do |f| %>
<% day = -1%>
<%= f.fields_for :time_schedules do |t| %>
    <% day += 1 %>
    <%= one_day = stdate+day %>
	<%= t.hidden_field :username, :value => "hoge" %>
	<%= t.hidden_field :event_id, :value => @event.id %> 
	<%= t.hidden_field :eventday, :value => one_day %>
	<div class="time_schedule_label">
	  <% for num in 0..23 do %>
	    <div class="time_schedule_label_cell" style="left:<%= num * 20 %>px">
	      <%= num %>
	    </div>
	  <% end %>
	</div>
        <div class="time_schedule" style="cursor:pointer;">
                <% for num in 0..(loop_times-1) do %>
                        <%= t.check_box :"t#{num}",{class:"check_box",style:"width: #{width-0.5}px; left: #{num*width}px",label:false} %>
			<span class="check_mark" style="left:<%= num*width %>px"></span>
                <% end %>
        </div>
<% end %>
<br><br>
<%= f.submit "Input Your Schedule", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
        var pushing_flag = 0; // マウスの状態を示すフラグ(1なら領域内でボタンが押されている)
        var first_flag = 0; //一つ目のセルだけクリックするかどうか
        var first_id = "id";
        // id(=click_area)に対するマウスボタンの状態を検知
        $(function() {
                $('.time_schedule .check_mark')
                .mousedown(function(){
		console.log("check_box is clicked")
                // 領域内でマウスボタンを押した時
                pushing_flag = 1;
                    first_flag = 1;
                    jQuery(":hover").each(function(){
                        if($(this).prev('input').attr('type')=='checkbox'){
				if ($(this).prev('input').prop('checked')) {
                         		$(this).prev('input').prop('checked',false);
                        	} else {
                               		$(this).prev('input').prop('checked',true);
                                }
                        }
                    });
                }).mouseenter(function(){
                    // マウスカーソルが領域内になった時
                    if (pushing_flag==1) {
                        jQuery(":hover").each(function(){
                                if($(this).prev('input').attr('type')=='checkbox'){
                                        if ($(this).prev('input').prop('checked')) {
                                                $(this).prev('input').prop('checked',false);
                                        } else {
                                                $(this).prev('input').prop('checked',true);
                                        }
                                }
                        });
                }
                });
    });
    $(function(){
        $('.time_schedule')
        .mouseup(function(){
                    // 領域内でマウスボタンを離した時
                    pushing_flag = 0;
                    first_flag = 0;
                }).mouseleave(function(){
                    // マウスカーソルが領域外になった時
                    pushing_flag = 0;
                });
    });
</script>

